# git and github metadata
.git/
.github/
.gitignore

# IDE metadata
.vscode/
.VSCode*/
.idea/

# Dockerfiles
.dockerignore
Dockerfile
docker-compose.yaml
docker-compose-deploy.yaml

# Executable files
*.exe
gRPCexample

# Docs
docs/
README.md

# Proto gen files
proto/*.go

# Creds
.env
.env.example
grpcexample_config_example.yaml